@charset "UTF-8";
/* Обнуление первоначальных настроек стилей в браузере */
/* Обращаемся ко всем элементам верстки */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap");
* {
  /*Убираем внутренние отступы*/
  padding: 0;
  /*Убираем внешние отступы*/
  margin: 0;
  /*Убираем границы*/
  border: 0;
}

*,
*:before,
*:after {
  /*Меняет подсчёт ширины блока для удобства*/
  box-sizing: border-box;
}

/*Убираем линии обводки*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*Перечисляем некоторые тэги и добавляем им значение блочных*/
nav,
footer,
header,
aside {
  display: block;
}

/*Уравниваем поведение шрифтов и элементов для разных браузеров, запрещают сомовольное увелечение шрифта*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Назначаем тэгам определенное семейство шрифта*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Balqis Script";
  src: url("../шаблон с scss/fonts/AnyConv.com__Balqis.eot");
  src: local(""), url("../шаблон с scss/fonts/AnyConv.com__Balqis.otf") format("otf"), url("../шаблон с scss/fonts/AnyConv.com__Balqis.svg") format("svg"), url("../шаблон с scss/fonts/AnyConv.com__Balqis.woff") format("woff"), url("../шаблон с scss/fonts/balqis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto Condensed";
}

._container {
  max-width: 1201px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

._ibg {
  position: relative;
}
._ibgimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  max-height: 50px;
  background-color: #1d1d1f;
  transition-duration: 0.5s;
}

.header__menu {
  margin: 0px 5px 0px 5px;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__list > *:not(:last-child) {
  margin-right: 52px;
}

.menu__link {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  color: #f5f5f7;
  transition: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.7;
}

.menu__link:hover {
  opacity: 1;
}

.menu__number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__number > *:not(:last-child) {
  margin-right: 10px;
}

.number__icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
}

.item_number {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  color: #f5f5f7;
  opacity: 0.7;
  transition-duration: 0.3s;
}
.item_number:hover {
  opacity: 1;
}

.page {
  flex: 1 1 auto;
}

.page__main-block {
  width: 100%;
  min-height: 100vh;
  background: url("../шаблон с scss/img/bg.jpg") center/cover no-repeat fixed;
}

.main__block {
  position: relative;
  top: 0;
  left: 0;
}

.main-block__body {
  position: absolute;
  width: 100%;
  top: 23.333%;
  left: 0;
}

.main-block__title {
  font-family: "Balqis Script";
  font-size: 200px;
  text-align: center;
  line-height: 133%;
  color: #000000;
}

.main-block__subtitle {
  position: absolute;
  left: 53%;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  color: #000000;
  text-align: right;
  margin-top: -65px;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.story__block {
  padding: 170px 0px 170px 0px;
}

.story__header {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.story__title {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 133%;
  color: #e2ab3f;
}

.story__subtitle {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  margin-left: 181px;
}

.story__body {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1560px;
}
.story__body > *:not(:last-child) {
  margin-right: 55px;
}

.story__slider {
  flex: 0 1 61.538%;
}

.story__description {
  display: flex;
  flex-direction: column;
  flex: 38.461%;
  justify-content: space-between;
}
.story__description > *:not(:last-child) {
  margin-bottom: 50px;
}

.story__text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.story__text-another {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.swiper-button-prev::after {
  color: #ffffff;
}

.swiper-button-next::after {
  color: #ffffff;
}

.page__rout {
  padding-bottom: 170px;
}

.rout__columns {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1560px;
}
.rout__columns .swiper {
  margin-left: 0px;
  margin-right: 0px;
}

.rout__column-left {
  flex: 0 1 38.461%;
}

.rout__column-left__header {
  margin-bottom: 100px;
}

.column-left__title {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 133%;
  color: #e2ab3f;
}

.column-left__subtitle-rout {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  margin-left: 242px;
  margin-top: -25px;
}

.rout__column-left__text {
  margin-bottom: 50px;
}
.rout__column-left__text > *:not(:last-child) {
  margin-bottom: 50px;
}

.column-left__text__description h4 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
}
.column-left__text__description p {
  display: block;
  max-width: 296px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
}
.column-left__text__description > *:not(:last-child) {
  margin-bottom: 20px;
}

.rout__column-left__button {
  max-width: 280px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: #e2ab3f;
  padding: 12px 45px;
  border-radius: 4px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.rout__column-left__button a {
  display: block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}
.rout__column-left__button:active {
  opacity: 0.7;
}

.column-left__button__text a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  text-align: center;
  color: #000000;
}

.page__hotel {
  padding-bottom: 170px;
}

.hotel__header {
  margin-bottom: 100px;
}

.hotel__header__title {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 133%;
  text-align: left;
  color: #e2ab3f;
}

.hotel__header__subtitle {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  margin-left: 122px;
  margin-top: -25px;
}

.hotel__body {
  display: flex;
  align-items: flex-start;
}
.hotel__body > *:not(:last-child) {
  margin-right: 99px;
}

.hotel__column-left {
  flex: 0 1 41.736%;
}

.hotel__column-right {
  flex: 0 1 58.263%;
}

.hotel__column-right__description {
  margin-bottom: 80px;
}
.hotel__column-right__description > *:not(:last-child) {
  margin-bottom: 20px;
}

.hotel__column-right__text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116%;
  color: #000000;
  display: block;
  text-align: left;
}

.hotel__column-right__images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotel__column-right__images > *:not(:last-child) {
  margin-right: 39px;
}

.hotel__column-right__image-left > *:not(:last-child) {
  margin-bottom: 50px;
}

.hotel__column-right__image-right > *:not(:last-child) {
  margin-bottom: 50px;
}

.page__price {
  padding-bottom: 170px;
}

.price__header {
  margin-bottom: 100px;
}

.price__header__title {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 133%;
  color: #e2ab3f;
}

.price__header_subtitle {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  margin-left: 122px;
  margin-top: -25px;
  color: #000000;
}

.price__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.price__body__description {
  display: flex;
  align-items: flex-start;
}
.price__body__description > *:not(:last-child) {
  margin-right: 70px;
}

.price__body__description__left-column {
  max-width: 530px;
}
.price__body__description__left-column h4 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  margin-bottom: 59px;
  text-align: left;
}

.column-text p {
  display: block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116%;
  color: #000000;
  text-align: left;
}
.column-text p:not(:last-child) {
  margin-bottom: 20px;
}

.price__body__description__right-column {
  max-width: 371px;
}
.price__body__description__right-column h4 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  margin-bottom: 59px;
  text-align: left;
}

.price__body__images {
  position: relative;
  top: 0;
  left: 0;
}

.price__body__images-one {
  position: absolute;
  top: -108px;
  left: 13px;
}

.price__body__images-two {
  position: absolute;
  top: 58px;
  left: 86px;
}

.price__body__images-three {
  position: absolute;
  left: 128px;
  top: -250px;
}

.page__price-form {
  padding-bottom: 170px;
}

.price-form__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.price-form__column-left {
  margin-left: 106px;
  padding-top: 100px;
}

.column-left__title {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 72%;
  color: #e2ab3f;
  text-align: left;
  margin-bottom: 40px;
}
.column-left__title span {
  display: block;
  margin-left: 140px;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  text-align: left;
  margin-top: 4px;
}

.column-left__subtitle {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 72%;
  color: #e2ab3f;
  text-align: left;
  margin-left: 122px;
}
.column-left__subtitle span {
  margin-top: 10px;
  display: block;
  margin-left: 122px;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  color: #000000;
  text-align: left;
}

.column-left__form {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
}
.column-left__form h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 116%;
  text-align: center;
  color: #000000;
}

.inputBox {
  position: relative;
  width: 383px;
  margin-top: 49px;
  transition-duration: 0.5s;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  transition-duration: 0.5s;
  z-index: 10;
  font-size: 22px;
  font-weight: 300;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116%;
  color: #000000;
  transition-duration: 0.5s;
}
.inputBox i {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #e2ab3f;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  color: #e2ab3f;
  transform: translateX(-10px) translateY(-35px);
  font-size: 15px;
}

.inputBox input:focus ~ i,
.inputBox input:valid ~ i {
  height: 44px;
  opacity: 0.8;
}

.form__button {
  margin: 0 auto;
  width: 280px;
  margin-top: 25px;
  border: none;
  outline: none;
  background-color: #e2ab3f;
  padding: 12px 45px;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.form__button a {
  display: block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 116%;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}
.form__button:active {
  opacity: 0.7;
}

.footer {
  min-height: 100vh;
  background: url("../шаблон с scss/img/bg.jpg") center/cover no-repeat fixed;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__conacts {
  margin: 96px 0px 0px 96px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

.footer__phone {
  position: absolute;
  top: 200px;
  left: 110px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  color: #000000;
  display: flex;
  align-items: center;
}
.footer__phone span {
  display: block;
  margin-right: 10px;
  margin-left: -10px;
}

.footer__email {
  position: absolute;
  top: 251px;
  left: 83px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  color: #000000;
  display: flex;
  align-items: center;
}
.footer__email span {
  display: block;
  margin-right: 10px;
  margin-left: -20px;
}

.footer__sicial {
  position: absolute;
  top: 310px;
  left: 120px;
  display: flex;
  align-items: center;
}
.footer__sicial > *:not(:last-child) {
  margin-right: 15px;
}
.footer__sicial img {
  transition-duration: 0.5s;
}

.footer__sicial img:hover {
  opacity: 0.6;
}

.footer__conacts h2 {
  display: block;
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 116%;
  color: #e2ab3f;
  position: absolute;
  z-index: 11;
  top: 80px;
  left: 43px;
}

.footer__title h2 {
  font-family: "Balqis Script";
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 115px;
  color: #000000;
}